/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
.ourthemeB{
background-color: #fbffe127!important;
}
/* Your app custom styles here */
.buyBTNS{
  background-color: white!important;
}
.header{
      font-size: 1.5em;
}
.restIMG{
  align-self: center;
  height:20em;
  width:auto;
  max-height: 250px;
}
.demo-card-header-pic .card-header {
  height: 20vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
.RLH{
  font-size: 133%;
  margin: 1%;
}
.RLA{
  margin: 1%;
}

.hide{
  display: hidden!important;
}
.meny{
  height: auto!important;
  width: auto!important;
}
.minibilde{
  height: 90%!important;
   width: 90%!important;
   grid-area: img;
}

.tolrf{
  float: left;
  padding:1% 1% 1% 1%;
  display: grid;
grid-template-areas:'header img''adrs img';

}
.tolrh{
float: left;
padding:1% 1% 1% 1%;
grid-area: header;
}
.tolra{
float: left;
padding:1% 1% 1% 1%;
grid-area: adrs;
}
.tolrl{
      height: 100%!important;
}
.tolb{
  height: auto;
      width: 40%;
      height: 40%;
      grid-area: img;
      margin-left: 10%;
      text-align: right;
}
.ourbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4px 26px;
    border: 1px solid #a9ab78;
    border-radius: 100px;
    background: #fbff82;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbff82), to(#fafaf0));
    background: -moz-linear-gradient(top, #fbff82, #fafaf0);
    background: linear-gradient(to bottom, #fbff82, #fafaf0);
    -webkit-box-shadow: #ffffcd 0px 0px 40px 0px;
    -moz-box-shadow: #ffffcd 0px 0px 40px 0px;
    box-shadow: #ffffcd 0px 0px 40px 0px;
    text-shadow: #ffffde 1px 1px 1px;
    font: normal normal bold 16px arial;
    color: #111111;
    text-decoration: none;
}
.ourbutton:hover,
.ourbutton:focus {
    border: 1px solid ##f1f4ab;
    background: #ffff9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff9c), to(#ffffff));
    background: -moz-linear-gradient(top, #ffff9c, #ffffff);
    background: linear-gradient(to bottom, #ffff9c, #ffffff);
    color: #111111;
    text-decoration: none;
}
.ourbutton:active {
    background: #97994e;
    background: -webkit-gradient(linear, left top, left bottom, from(#97994e), to(#fafaf0));
    background: -moz-linear-gradient(top, #97994e, #fafaf0);
    background: linear-gradient(to bottom, #97994e, #fafaf0);
}
.ourbutton:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABbUlEQVRIidXVr0smYRAH8I/LIWKSFxERg8lk8YLBZrlsuHaW+yvuikEMFos2ETEYDII/ksFqMF0wyHHh0gXBw/wi8nJhn/Uen/fZNbiv4MDC7M7Md+Y7M8wOoTBAqcB7NfZeG3rKoGhbb0rwahlqGzAnKa1WW/QhSRYPqYMj/E4Ce5jEPo4bChcnyLVpBJdYwxhm8QOP+IxuFFfLIl7T6kmZTIRqF7AbbNdYSvyzeq7yyljZPuIQ23hQsv6FO2zgE4YzOGhuUSVXofL5kKAqYFPZtvXA6DaDVVQJ4pYUyfs9vmA8gHSwglP8xE0UE8cWXmhRLF38UQ74WwBeDSAjNbG9PjrJE39fxh7mcI6vuMD3kOBvJv4Jp+5UTCtXlHLIM9hKfA4yxTzTm1oU0z0JyfYTW6Fc39xV7rumKbWpAFpHvVAO/iz4Zn3iU/Fs+srBLmInpZ1UOur/+vZtURw0EIkZDCzRm//RWpX336J/zHVVRmlkuzEAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}
