/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}
.ourthemeB{
background-color: #fbffe127!important;
}
.ourlist{
  border-radius: 25px;
      border: 1px solid #e9fce7;
      box-shadow: 2px 4px #fbfbFB;
      margin: 1%;
}
.show2.hide{

}
.showme{
  display: none!important;
}

.giveM{
  margin: 4%;
}

/*headerbilde*/
.headerimg{

  height: auto;

}
.smallB{
  width: 33%;
}
.ourthemeC{
background-image:url(/static/local_firstlogo.png);
}
/*radiobuttons*/
:root {
  /*
  --f7-radio-active-color: var(--f7-theme-color);
  */
  --f7-radio-border-radius: 50%;
  font-family: "Playfair Display"!important;
  -f7-font-family: "Playfair Display"!important;
}
:root .theme-dark,
:root.theme-dark {
  --f7-radio-inactive-color: rgba(255, 255, 255, 0.3);
}
.ios {
  --f7-radio-size: 22px;
  --f7-radio-border-width: 1px;
  --f7-radio-inactive-color: #c7c7cc;
  --f7-radio-extra-margin: 0px;
}
.md {
  --f7-radio-size: 20px;
  --f7-radio-border-width: 2px;
  --f7-radio-inactive-color: #6d6d6d;
  --f7-radio-extra-margin: 22px;
}
.aurora {
  --f7-radio-size: 16px;
  --f7-radio-border-width: 1px;
  --f7-radio-inactive-color: #888;
  --f7-radio-extra-margin: 0px;
}
/* Your app custom styles here */
.textcolloring{
    color: black!important;
}
:root {
  --f7-popup-border-radius: 0px;
  --f7-popup-tablet-width: 630px;
  --f7-popup-tablet-height: 630px;
  /*
  --f7-popup-tablet-border-radius: 0px;
  */
}
.ios {
  --f7-popup-box-shadow: none;
}
.md {
  --f7-popup-box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.5);
}
.aurora {
  --f7-popup-tablet-border-radius: 4px;
  --f7-popup-box-shadow: 0px 20px 44px rgba(0, 0, 0, 0.5);
}
.rightB{
  float: right;
}
.buyBTNS{
  background-color: white!important;
}
.header{
      font-size: 1.5em;
      font-weight: bold;
overflow: visible;
}
.restIMG{
  align-self: center;
  height:20em;
  width:auto;
  max-height: 250px;
}
.demo-card-header-pic .card-header {
  height: 20vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
.RLH{
  font-size: 133%;
  margin: 1%;
  color: black!important
}
.RLA{
  margin: 1%;
  color: black!important
}

.hide{
  display: hidden!important;
}
.meny{
  height: auto!important;
  width: auto!important;
}
.minibilde{
  height: 90%!important;
   width: 90%!important;
   grid-area: img;
}

.tolrf{
  float: left;
  padding:1% 1% 1% 1%;
  display: grid;
grid-template-areas:'header img''adrs img';

}
.tolrh{
float: left;
padding:1% 1% 1% 1%;
grid-area: header;
}
.tolra{
float: left;
padding:1% 1% 1% 1%;
grid-area: adrs;
}
.tolrl{
      height: 100%!important;
}
.tolb{
  height: auto;
      width: 40%;
      height: 40%;
      grid-area: img;
      margin-left: 10%;
      text-align: right;
}
.ourbutton {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 4px 26px;

  border-radius: 100px;
    background: #fcfbe7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfbe7), to(#e9fce7));
    background: -moz-linear-gradient(top, #fcfbe7, #e9fce7);
    background: linear-gradient(to bottom, #fcfbe7, #e9fce7);
    -webkit-box-shadow: #ffffcd 0px 0px 0px 0px;
    -moz-box-shadow: #ffffcd 0px 0px 0px 0px;
    box-shadow: #ffffcd 0px 0px 0px 0px;
    text-shadow: #ffffde 1px 1px 1px;
    font: normal normal bold 16px arial;
    color: #111111;
    text-decoration: none;
}
.ourbutton:hover,
.ourbutton:focus {
    border: 1px solid ##f1f4ab;
    background: #ffff9c;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff9c), to(#ffffff));
    background: -moz-linear-gradient(top, #ffff9c, #ffffff);
    background: linear-gradient(to bottom, #ffff9c, #ffffff);
    color: #111111;
    text-decoration: none;
}
.ourbutton:active {
    background: #97994e;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9fce7), to(#fafaf0));
    background: -moz-linear-gradient(top, #e9fce7, #fafaf0);
    background: linear-gradient(to bottom, #e9fce7, #fafaf0);
}
.ourbutton:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAABbUlEQVRIidXVr0smYRAH8I/LIWKSFxERg8lk8YLBZrlsuHaW+yvuikEMFos2ETEYDII/ksFqMF0wyHHh0gXBw/wi8nJhn/Uen/fZNbiv4MDC7M7Md+Y7M8wOoTBAqcB7NfZeG3rKoGhbb0rwahlqGzAnKa1WW/QhSRYPqYMj/E4Ce5jEPo4bChcnyLVpBJdYwxhm8QOP+IxuFFfLIl7T6kmZTIRqF7AbbNdYSvyzeq7yyljZPuIQ23hQsv6FO2zgE4YzOGhuUSVXofL5kKAqYFPZtvXA6DaDVVQJ4pYUyfs9vmA8gHSwglP8xE0UE8cWXmhRLF38UQ74WwBeDSAjNbG9PjrJE39fxh7mcI6vuMD3kOBvJv4Jp+5UTCtXlHLIM9hKfA4yxTzTm1oU0z0JyfYTW6Fc39xV7rumKbWpAFpHvVAO/iz4Zn3iU/Fs+srBLmInpZ1UOur/+vZtURw0EIkZDCzRm//RWpX336J/zHVVRmlkuzEAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}
